---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Wordle Español</title>
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <!-- SweetAlert2 CDN -->
    <script is:inline defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"
    ></script>
  </head>
  <body
    class="flex flex-col w-full min-h-dvh bg-gray-50 dark:bg-gray-900 transition-colors"
  >
    <slot />
  </body>
</html>

<style>
  html {
    font-family: system-ui, sans-serif;
  }
</style>
